extends layout

block head
  title= title
block customStyleSheet
  link(rel='stylesheet', href='/stylesheets/calendarStyle.css')

block content
  div.text-center
      form(class="form-signin" method="GET" action="#")
          #error
              if error
                  p.text-danger Error!!!

          - var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
          h1(class=h1Classes) Who are you?

          select(name='name', class="form-control")
            each name in friendsName
              option=name
          <br>
          //-signIn button
          - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
          button(class=buttonClass type="submit") Let's View 
          
          - var pClasses=['mt-5', 'mb-3', 'text-muted'];
          p(class=pClasses) &copy; Gribesh 2020