doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/calendarStyle.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
  body
    block content
      div.text-center
        if error
          #error
            p.text-danger #{error}
        else
          //- p= "Kumar Data"
          //- ui
          //-   each value in kumarData
          //-     li=value
          //- br
          //- p= "Mahesh Data"
          //- ui
          //-   each value in maheshData
          //-     li=value
          //- br
          //- p= "Parvesh Data"
          //- ui
          //-   each value in parveshData
          //-     li=value
          p= "Suggested Date"
          ui
            each value in suggestedDate
              li=value

    .container
      h6= "Movie available for the date"
      -var ob= moviesDate
      .card-deck
        -for(var i in ob)
          -for(var y in ob[i])
            .card
              .card-body
                h5.card-title Card title
                -for(var prop in ob[i][i])
                  p.card-text #{prop}: #{ob[i][y][prop]}
              .card-footer
                  small.text-muted Updated Date and Time

      a.btn.btn-primary.btn-lg.active(href='/restaurant', role='button')  Lets Book restaurant
