doctype html
head
  title Restaurant | Booking Information
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' )
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
  link(rel='stylesheet', href='/stylesheets/restaurantHome.css')
body
  .wrapper(style="background-image: url('/images/banner.jpg')")
    .inner
      .image-holder
        img(src='/images/restaurant.jpg')
      form(action='')
        h3 Booking Information
        h6.text-danger= "This is some info"
        if receiveInfo
          p= receiveInfo.isBooked
          p= receiveInfo.bookId
        br
        .form-wrapper
          label(for='email') Email:
          input#email.form-control(type='text', name='email', value=email, disabled)
        .form-wrapper
          if payload
            input#time.form-control(type='text', name='time', value=payload.time, disabled)
          else
            input#time.form-control(type='text', name='time', placeholder='Time (1AM-3AM)')
        .form-wrapper
          if payload
            input#email.form-control(type='text', value=payload.date, disabled)
          else
            input#email.form-control(type='text', placeholder='Date')
        
        if receiveInfo
          if receiveInfo.isBooked=='true'
            h6.text-danger Sorry to inform you, but all seats are booked.
            a(href='http://localhost:8080', style='text-decoration: none') Please Plan again
          else
            h6.text-success Seats available, If you want to book please press submit button. 
            .form-group.container-login100-form-btn
              button#btn-update(type='button')
                | Submit
                i.zmdi.zmdi-arrow-right
